<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}phpBB Status Site{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Site to announce any maintenance and the current status of phpBB Group Sites">
		<meta name="author" content="phpBB Group">
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="resource-type" content="document" />
		<meta name="distribution" content="global" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="application-name" content="phpBB Status Site" />
		<meta name="msapplication-tooltip" content="phpBB &bull; Free and Open Source Forum Software" />
		<meta name="msapplication-starturl" content="/" />
		<meta name="msapplication-window" content="width=1024;height=768" />
		<meta name="msapplication-task" content="name=Home; action-uri=/; icon-uri=favicon.ico" />
		<meta name="msapplication-task" content="name=Community; action-uri=/community/; icon-uri=favicon.ico" />
		<meta name="msapplication-task" content="name=Blog; action-uri=http://blog.phpbb.com/; icon-uri=favicon.ico" />
		<meta name="msapplication-task" content="name=Customise; action-uri=/customise/; icon-uri=favicon.ico" />
		<meta name="msapplication-task" content="name=Area51; action-uri=http://area51.phpbb.com/; icon-uri=favicon.ico" />

		{% block stylesheets %}
			<link href="{{ asset('bundles/phpbbstatussite/css/bootstrap.min.css')}}" rel="stylesheet">
			<style type="text/css">
				body {
					padding-top: 60px;
					padding-bottom: 40px;
				}
				.sidebar-nav {
					padding: 9px 0;
				}
			</style>
			<link href="{{ asset('bundles/phpbbstatussite/css/bootstrap-responsive.min.css')}}" rel="stylesheet">
		{% endblock %}

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
		<link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png')}} ">
	</head>

	<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
		  		</a>
		 		<a class="brand" href="{{ path('homepage') }}">phpBB</a>
				<div class="nav-collapse collapse">
					{% if app.user %}
						<div class="btn-group pull-right">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-user"></i> {{ app.user.username }}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a>Settings</a></li>
								<li><a href="/admin/dashboard">ACP</a></li>
								<li class="divider"></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</div>
					{% endif %}
						<ul class="nav">
							<li class="active"><a href="{{ path('homepage') }}">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">

	{% block body %}{% endblock %}

	<footer>
		<hr>
		
		<p style="float:left">&copy; <a href="https://www.phpbb.com/about/">phpBB Limited</a><br />
		Powered by <a href="http://symfony.com/">Symfony</a> &amp; <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a><br>
		Monitoring powered by <a href="http://www.pingdom.com">Pingdom</a><br />
		View the source code <a href="https://github.com/phpbb/phpBBStatusSite">here</a></p>
		<p style="float:right">All times are in UTC</p>
	</footer>

	</div> <!-- /container -->

		{% block javascripts %}
			<script src="{{ asset('bundles/phpbbstatussite/js/jquery-1.7.2.min.js') }}"></script>
			<script src="{{ asset('bundles/phpbbstatussite/js/bootstrap.min.js') }}"></script>
		{% endblock %}
	</body>
</html>

<!--

          ____,'`-,
     _,--'   ,/::.;
  ,-'       ,/::,' `---.___        ___,_
  |       ,:';:/        ;'"`;"`--./ ,-^.;--.
  |:     ,:';,'         '         `.   ;`   `-.
   \:.,:::/;/ -:.                   `  | `     `-.
    \:::,'//__.;  ,;  ,  ,  :.`-.   :. |  ;       :.
     \,',';/O)^. :'  ;  :   '__` `  :::`.       .:' )
     |,'  |\__,: ;      ;  '/O)`.   :::`;       ' ,'
          |`--''            \__,' , ::::(       ,'
          `    ,            `--' ,: :::,'\   ,-'
           | ,;         ,    ,::'  ,:::   |,'
           |,:        .(          ,:::|   `
           ::'_   _   ::         ,::/:|
          ,',' `-' \   `.      ,:::/,:|
         | : _  _   |   '     ,::,' :::
         | \ O`'O  ,',   ,    :,'   ;::
          \ `-'`--',:' ,' , ,,'      ::
           ``:.:.__   ',-','        ::'
              `--.__, ,::.         ::'
                  |:  ::::.       ::'
                  |:  ::::::    ,::'

-->
