<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}phpBB Status Site{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Site to announce any maintenance and the current status of phpBB Group Sites">
		<meta name="author" content="phpBB Group">
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="resource-type" content="document" />
		<meta name="distribution" content="global" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="application-name" content="phpBB Status Site" />
		<meta name="msapplication-tooltip" content="phpBB &bull; Free and Open Source Forum Software" />
		<meta name="msapplication-starturl" content="/" />
		<meta name="msapplication-window" content="width=1024;height=768" />
		<meta name="msapplication-task" content="name=Home; action-uri=/; icon-uri=favicon.ico" />
		<meta name="msapplication-task" content="name=Community; action-uri=/community/; icon-uri=favicon.ico" />
		<meta name="msapplication-task" content="name=Blog; action-uri=http://blog.phpbb.com/; icon-uri=favicon.ico" />
		<meta name="msapplication-task" content="name=Customise; action-uri=/customise/; icon-uri=favicon.ico" />
		<meta name="msapplication-task" content="name=Area51; action-uri=http://area51.phpbb.com/; icon-uri=favicon.ico" />

		{{ nelmio_js_error_logger() }}

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		{% block stylesheets %}
			<link href="{{ asset('bundles/phpbbstatussite/css/reset.css')}}" rel="stylesheet">
			<link href="{{ asset('bundles/phpbbstatussite/css/main.css')}}" rel="stylesheet">


		{% endblock %}



		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="{{ asset('favicon.ico')}}">
		<link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png')}}">
	</head>

	<body{% if app.user %} class="logged-in"{% endif %}>

	<div class="navbar">
		<a class="brand" href="https://www.phpbb.com"><span>phpBB</span></a>
		<ul class="nav">
			{% block navigation %}
			{% if selected is not defined %}
				{% set selected = 'home' %}
			{% endif %}
			<li{% if selected == 'home' %} class="selected"{% endif %}><a href="{{ path('homepage') }}">Home</a></li>
			<li{% if selected == 'contact' %} class="selected"{% endif %}><a href="{{ path('contact') }}">Contact</a></li>
			{% endblock %}

			{% if app.user %}
					<li><a href="/admin/dashboard">ACP</a></li>
					<li><a href="/logout">Logout</a></li>
			{% endif %}
		</ul>
	</div>

	<div class="container">
		{% for flashMessage in app.session.flashbag.get('notice') %}
		    <div class="flash-notice">
			{{ flashMessage }}
		    </div>
		{% endfor %}

		{% block body %}{% endblock %}
	</div>

	<div class="footer">
		<div class="footer-inner">
			<hr />
			<p class="copy-left">&copy; <a href="https://www.phpbb.com/about/">phpBB Limited</a><br />
				Powered by <a href="http://symfony.com/">Symfony</a><br>
				Monitoring powered by <a href="http://www.pingdom.com">Pingdom</a><br />
				View the source code <a href="https://github.com/phpbb/phpBBStatusSite">here</a></p>
			<p class="copy-right">All times are in UTC</p>
		</div>
	</div>
	{% block javascripts %}
		<script src="{{ asset('bundles/phpbbstatussite/js/jquery-1.7.2.min.js') }}"></script>
		<script src="{{ asset('bundles/phpbbstatussite/js/site.js') }}"></script>
	{% endblock %}

	</body>
</html>

<!--

          ____,'`-,
     _,--'   ,/::.;
  ,-'       ,/::,' `---.___        ___,_
  |       ,:';:/        ;'"`;"`--./ ,-^.;--.
  |:     ,:';,'         '         `.   ;`   `-.
   \:.,:::/;/ -:.                   `  | `     `-.
    \:::,'//__.;  ,;  ,  ,  :.`-.   :. |  ;       :.
     \,',';/O)^. :'  ;  :   '__` `  :::`.       .:' )
     |,'  |\__,: ;      ;  '/O)`.   :::`;       ' ,'
          |`--''            \__,' , ::::(       ,'
          `    ,            `--' ,: :::,'\   ,-'
           | ,;         ,    ,::'  ,:::   |,'
           |,:        .(          ,:::|   `
           ::'_   _   ::         ,::/:|
          ,',' `-' \   `.      ,:::/,:|
         | : _  _   |   '     ,::,' :::
         | \ O`'O  ,',   ,    :,'   ;::
          \ `-'`--',:' ,' , ,,'      ::
           ``:.:.__   ',-','        ::'
              `--.__, ,::.         ::'
                  |:  ::::.       ::'
                  |:  ::::::    ,::'

-->
