{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block navigation %}
{% set selected = 'contact' %}
{{ parent() }}
{% endblock %}

{% block body %}
{# Main Block #}

{# Main Body #}
<div id="contact" class="page-title">
	<h1>Contact</h1>
	<p><strong>Important:</strong> Only use this contact form if you have any issues with accessing one of our sites or services.</p>
</div>

<div class="contact-form">
	<form action="{{ path('contact') }}" method="POST" id="contact_form">
		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<input type="submit" value="Send" class="symfony-button-grey" />
	</form>
</div>

{% endblock %}
