{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
	{% for site in sites %}
		#services.flat .service-{{ site.slug }} h4:before { background-position: -3px -{{ 50 * loop.index0 + 3 }}px; }
		#services.full .service-{{ site.slug }} h4 a { background-position: 0 -{{ 60 * loop.index0 }}px; }
	{% endfor %}
</style>
{% endblock %}

{% block body %}
	{# Main Block #}
	
	{% if not downtime %}
		<div id="status">
	{% elseif not major %}
		<div id="status" class="minor">
	{% else %}
		<div id="status" class="down">
	{% endif %}
		<h1>{{ status }}</h1>
		<p>
			{% if downtime %}
						{% if planned == 1 %}
								A team of highly trained monkeys is doing maintainence on our site, we should be back soon
						{% else %}
								A team of highly trained monkeys have been notified about the downtime and will post an update as soon as possible
						{% endif %}
			{% else %}
				Everything is working perfectly fine. We keep our trained monkeys around to make sure nothing happens.
			{% endif %}
			
		</p>
	</div>	

	
	<div id="services" class="flat">
		<h2>Services</h2>
		{% for site in sites %}
			<div class="row service-{{ site.slug }} status-{{ site.status|lower() }}" data-service="{{ site.slug }}" data-up="{% if site.status|lower() == 'down' %}false{% else %}true{% endif %}">
				<div>
					<h4><a href="{{ path('site', {'slug': site.slug})}}">{{ site.name }}</a></h4>
					<span>{{ site.status }}</span>
				</div>
			</div>
		{% endfor %}
	</div>
	
	{% if updates %}
	
		<div id="updates">
			<h2>Latest updates</h2>
			{% for update in updates %}
				<div class="update">
					<h3>{{ update.name }}</h3>
					<p class="update-time">{{ update.posttime|date() }}</p>
					<p class="update-text">
						{{ update.description|raw }}
					</p>
					<p class="update-author">{{ update.userid }}</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
