{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
    {% if not downtime %}
                #status {background-color:#A9FA90;}
	{% elseif not major %}
		#status {background-color:#FAD090;}

	{% else %}
		#status {background-color:rgba(235, 7, 7, 0.69);}
	{% endif %}
</style>
{% endblock %}

{% block body %}
{# Main Block #}
<div class="hero-unit" id="status">
	<h1>{{ status }}</h1>
	<p>
		<br /><br />
		{% if downtime %}
                    {% if planned == 1 %}
                            A team of highly trained monkeys is doing maintainence on our site, we should be back soon
                    {% else %}
                            A team of highly trained monkeys have been notified about the downtime and will post an update as soon as possible
                    {% endif %}
        {% else %}
        	Everything is working perfectly fine. We keep our trained monkeys around to make sure nothing happens.
		{% endif %}
	</p>
</div>

<div class="row">
	{# Main Body #}
	<div class="span8">
		{% for update in updates %}
                    <div class="hero-unit">
			<div class="row-fluid">
				<div class="span5">
					<h2>{{ update.name }}</h2>
				</div>
				<div class="span2 offset5">
					<p>{{ update.posttime|date() }}</h2>
				</div>
			</div>
			<p>{{ update.description }}</p>
			<div class="row-fluid">
				<div class="span2 offset10">
					<p>{{ update.userid }}</p>
				</div>
			</div>
                    </div>
		{% endfor %}
	</div>

	{# Sidebar #}

	<div class="span4">
            <div class="hero-unit">
            {% for site in sites %}
                <div class="row">
                    <h4><a href="{{ path('site', {'slug': site.slug})}}">{{ site.name }}</a></h4>
                    {{ site.status }}
                </div>
            {% endfor %}
            </div>
	</div>
</div>

{% endblock %}
