{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
	{% if status == "Minor Outage" %}
		.hero-unit {background-color:#FAD090;}
	{% elseif status == "Major Outage" %}
		.hero-unit {background-color:rgba(235, 7, 7, 0.69);}
	{% elseif status == "Fully Operational" %}
		.hero-unit {background-color:#A9FA90;}
	{% endif %}
</style>
{% endblock %}

{% block body %}
{# Main Block #}
<div class="hero-unit">
	<h1>{{ status }}</h1>
	<p>
		<br /><br />
		{% if status != "Fully Operational" and planned != true %}
			A team of highly trained monkeys have been notified about the downtime and will post an update as soon as possible
		{% endif %}
	</p>
</div>

<div class="row">
	{# Main Body #}
	<div class="span8">
		{% for update in updates|slice(1, 5) %}
			<div class="row-fluid">
				<div class="span5">
					<h2>{{ update.name }}</h2>
				</div>
				<div class="span2 offset5">
					<p>{{ update.posttime|date() }}</h2>
				</div>
			</div>
			<p>{{ update.description }}</p>
			<div class="row-fluid">
				<div class="span2 offset10">
					<p>{{ update.userid }}</p>
				</div>
			</div>
		{% endfor %}
	</div>

	{# Sidebar #}
	<div class="span4">
		<div class"row">
			<a class="twitter-timeline" href="https://twitter.com/phpbb" data-widget-id="253898361659334656">Tweets by @phpbb</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</div>

{% endblock %}
